/* body   {
  width: 100vh;
  height:100vh;
  padding: 0%;
  margin: 2%;
  background-image: linear-gradient(aqua, purple);
  /* display: flex;
  justify-content: space-around;
  color: rgb(255, 255, 255); */
}

/* #test {
  position: absolute;
  left: 145px;
  top: 400px;
  background-color: aqua;
  width: 100px;
  height: 50px;
}

#open-widget.btn {
  position: absolute;
  left: 145px;
  top: 530px;
  background-color: aqua;
  width: 100px;
  height: 50px;
}

#compress {
  position: absolute;
  left: 145px;
  top: 630px;
  background-color: aqua;
  width: 100px;
  height: 50px;
}
.box {
  padding-top: 70%;
}


.container {
  padding-top: 10%;
}
 */ 
